*{
	margin: 0px;
	padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
	width: 100vw;
	background-image:linear-gradient(#A22005,#4A0A08 80%);
}

.overlay {
	height: 100%;
	width: 100%;
	display: none;
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	background-image: linear-gradient(to right,#A22005, #EF9406);
}

.overlay-content {
	position: relative;
	top: 15%;
	width: 100%;
	text-align: center;
}


.overlay a {
	text-align: center;
	font-family: 'CinzelDecorative-Bold';
	font-weight: 600;
	padding: 15px;
	text-decoration: none;
	font-size: 40px;
	color: beige;
	display: block;
	transition: 0.3s;
}

.countries a{
	display: inline-block;
}

.img-india{
	position: absolute;
	top: 520px;
	left: 595px;
	width: 7%;
	z-index: 10;
}

.img-kenya{
	position: absolute;
	top: 520px;
	left: 730px;
	width: 7%;
	height: auto;
	z-index: 10;
}

.overlay a:hover, .overlay a:focus {
  color: #150401;
}


.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 50px;
}

.logonav {
	position:absolute;
	top: 0;
	left: 0;
	z-index: 5;
	max-width: 7%;
}

.logonav:hover{
	transform: scale(1.2);
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay a img{z-index: 3;}	
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

.indianav{
	display: flex;
	justify-content: flex-end;
}

.indianav img{
	width: 20%;
	margin-top: 7%;
	margin-left: 70%;
	
}
.kenyan h1 {
    margin-top: 200px;
    font-family: 'cinzel decorative', 'cursive';
    font-weight: bold;
    color: white;
    font-size: 5em;
    text-align: center;
}

.kenyan h2{
	font-weight: 100;
	width: 30%;
    text-align: center;
    font-family: 'Mulish-medium';
    font-size: 20px;
    color: white;
	border-top: 3px solid darkred;
	margin-left: 500px;
	margin-top: -10px;
	padding-top: 5px;
}

.top{
	text-align: center;
	color: white;
	font-family: 'Mulish-medium';
	margin: 120px 400px;
}

.top h3{
	z-index: 5;
	font-weight: 100;
	background-color: rgba(34, 8, 5, 18%);
	padding: 30px 20px;
	line-height: 30px;
}


.spices{
	display: flex;
	justify-content: center;
}

.spices div{
	padding: 0px 30px;
}


.spices img{
	width: 85%;
	height: auto;
}

.spices h1{
	font-family: 'Mulish-medium';
	color: white;
	text-align: center;
	font-size: 25px;
	font-weight: 400;
}

.spicesdropdown{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 100px 200px;
	background-color: #771C08;
	padding: 100px 50px;
	font-family: 'Mulish-medium';
	color: white;
}

.spicesdropdown img{
	margin-bottom: 100px;
}

.spicesdropdown p2{
	font-size: 15px;
	padding: 0px 30px;
}

.spicesdropdown h4{
	font-weight: 100;
	font-size: 50px;
	margin-top: 10px;
	margin-bottom: 70px;
	padding: 0px 30px;
}

.spicesdropdown h3{
	margin-top: -50px;
	padding: 0px 30px;
}

.spicesdropdown h5{
	max-width: 80%;
	font-size: 15px;
	font-weight: 500;
	line-height: 22px;
	padding: 0px 30px;
}

.spicesdropdown h6{
	max-width: 80%;
	font-size: 15px;
	font-weight: 500;
	line-height: 22px;
	padding: 0px 30px;
}


/*/Footer!/*/


.icons{
	display: flex;
	justify-content: center;
	padding-top: 300px;
	padding-bottom: 150px;
	
}   

.icons div img{
    z-index: 2;
    margin: 10px 10px 10px 10px;
    max-height: 30px;
    width: auto;

}


